<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipts from Etsy</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Receipts from Etsy</h1>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Receipt ID</th>
                    <th>Buyer Name</th>
                    <th>Formatted Address</th>
                    <th>City</th>
                    <th>Country ISO</th>
                    <th>Is Paid</th>
                    <th>Grand Total</th>
                    <th>Transaction Title</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>
                        <td>3126892149</td>
                        <td>Mislav Faletar</td>
                        <td>Mislav Faletar
PAVLENSKI PUT 5J
10000 ZAGREB
Croatia</td>
                        <td>ZAGREB</td>
                        <td>HR</td>
                        <td>Yes</td>
                        <td>0.5 USD</td>
                        <td>Razanj za janje ugradnja u golfa 2 pon-pet zvati na sms ne odgovaram</td>
                    </tr>
                
                    <tr>
                        <td>3126876835</td>
                        <td>Oliver Nad</td>
                        <td>Oliver Nad
Ludlow, 14 SLIABH ROS
Bunclody
ENNISCORTHY
Co. Wexford Y21 K339
Ireland</td>
                        <td>Enniscorthy</td>
                        <td>IE</td>
                        <td>Yes</td>
                        <td>0.5 USD</td>
                        <td>Razanj za janje ugradnja u golfa 2 pon-pet zvati na sms ne odgovaram</td>
                    </tr>
                
                    <tr>
                        <td>3135290538</td>
                        <td>Oliver Nad</td>
                        <td>Oliver Nad
Ludlow, 14 SLIABH ROS
Bunclody
ENNISCORTHY
Co. Wexford Y21 K339
Ireland</td>
                        <td>Enniscorthy</td>
                        <td>IE</td>
                        <td>Yes</td>
                        <td>0.5 USD</td>
                        <td>Razanj za janje ugradnja u golfa 2 pon-pet zvati na sms ne odgovaram</td>
                    </tr>
                
                    <tr>
                        <td>3135290012</td>
                        <td>Oliver Nad</td>
                        <td>Oliver Nad
Ludlow, 14 SLIABH ROS
Bunclody
ENNISCORTHY
Co. Wexford Y21 K339
Ireland</td>
                        <td>Enniscorthy</td>
                        <td>IE</td>
                        <td>Yes</td>
                        <td>0.5 USD</td>
                        <td>Razanj za janje ugradnja u golfa 2 pon-pet zvati na sms ne odgovaram</td>
                    </tr>
                
                    <tr>
                        <td>3135278706</td>
                        <td>Uma Đurović</td>
                        <td>Uma Đurović
Vijenac Ivana Česmičkog 4
31000 OSIJEK
Croatia</td>
                        <td>Osijek</td>
                        <td>HR</td>
                        <td>Yes</td>
                        <td>0.5 USD</td>
                        <td>Razanj za janje ugradnja u golfa 2 pon-pet zvati na sms ne odgovaram</td>
                    </tr>
                
                    <tr>
                        <td>3135265080</td>
                        <td>Bruno Džambić Nađ</td>
                        <td>Bruno Džambić Nađ
Tvrđavica 199
31000 OSIJEK
Croatia</td>
                        <td>Osijek</td>
                        <td>HR</td>
                        <td>Yes</td>
                        <td>0.5 USD</td>
                        <td>Razanj za janje ugradnja u golfa 2 pon-pet zvati na sms ne odgovaram</td>
                    </tr>
                
                    <tr>
                        <td>3123454017</td>
                        <td>Bruno Džambić Nađ</td>
                        <td>Bruno Džambić Nađ
18 Vijenac Ivana Česmićkog
31000 OSIJEK
Croatia</td>
                        <td>Osijek</td>
                        <td>HR</td>
                        <td>Yes</td>
                        <td>0.5 USD</td>
                        <td>Razanj za janje ugradnja u golfa 2 pon-pet zvati na sms ne odgovaram</td>
                    </tr>
                
                    <tr>
                        <td>2366151928</td>
                        <td>Emma Cassidy</td>
                        <td>Emma Cassidy
11427 West Fremont Drive
LITTLETON, CO 80127
United States</td>
                        <td>Littleton</td>
                        <td>US</td>
                        <td>Yes</td>
                        <td>15.74 USD</td>
                        <td>Bingus T-shirt 100% Cotton!</td>
                    </tr>
                
            </tbody>
        </table>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  

</body>
</html>